# Nunca deixe entrar no contexto de build
.git/
.gitignore
README.md
LICENSE.MD

# Igual ao gitignore, mas agora impede de ir pra IMAGEM
__pycache__/
*.pyc
.venv/
venv/
node_modules/
dist/

# Segredos NUNCA podem ir para dentro de uma imagem
.env
.env.*